@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

//// Mixins

// Media query for tablets
@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

// Media query for desktop
@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

//// Variables

// Colors

:root {
  --clr-background: hsl(0, 0%, 100%);
  --clr-card-background: hsl(227, 47%, 96%);
  --clr-head-background: hsl(225, 100%, 98%);
  --clr-toggle-background: hsl(228, 12%, 44%);
  --clr-text: black;
}

.dark-theme {
  --clr-background: hsl(230, 17%, 14%);
  --clr-card-background: hsl(228, 28%, 20%);
  --clr-head-background: hsl(232, 19%, 15%);
  --clr-toggle-background: hsl(146, 68%, 55%);
  --clr-text: white;
}

.light-theme {
  --clr-background: hsl(0, 0%, 100%);
  --clr-card-background: hsl(227, 47%, 96%);
  --clr-head-background: hsl(225, 100%, 98%);
  --clr-toggle-background: hsl(228, 12%, 44%);
  --clr-text: black;
}

$numbers-up: hsl(163, 72%, 41%);
$numbers-down: hsl(356, 69%, 56%);
$secondary-text-color: hsl(228, 12%, 44%);

// Other Variables
$title-size: 1.4rem;
$card-row: 30px;
$theme-transition: all 0.5s ease;

//// Extends
%icon-with-text {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

%card {
  width: 100%;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: var(--clr-background);
}

%card-top {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  width: 100%;
}

%list {
  display: grid;
  justify-items: center;
  width: 80%;
  row-gap: 20px;
}

@include desktop {
  %desktop-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}

//// General

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Inter", sans-serif;
  background-color: var(--clr-background);
  transition: $theme-transition;
}

//// Dashboard

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//// Dashboard Head

.dashboard__head {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px 10%;
  height: 16rem;
  font-weight: 700;
  color: var(--clr-text);
  background-color: var(--clr-head-background);
  border-radius: 0 0 25px 25px;
  transition: $theme-transition;
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20rem;
    padding: 40px 10% 140px 10%;
  }
}

.dashboard__head-title {
  font-size: $title-size;
  @include desktop {
    align-self: flex-end;
  }
}

.dashboard__head-counter {
  color: $secondary-text-color;
}

.dashboard__head-line {
  margin: 20px 0;
  border-top: 1px solid $secondary-text-color;
  @include desktop {
    display: none;
  }
}

// Theme Switcher Button

.dashboard__toggle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary-text-color;
  @include desktop {
    grid-row: 1 / span 2;
    grid-column: 2;
    justify-content: flex-end;
    column-gap: 20px;
  }
}

.toggle-button {
  position: relative;
  height: 30px;
  width: 60px;
  box-sizing: content-box;
  border: 3px solid var(--clr-toggle-background);
  background: var(--clr-toggle-background);
  border-radius: 20px;
  cursor: pointer;
  transition: $theme-transition;
}

.toggle-slider {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: var(--clr-card-background);
  border-radius: 50%;
  top: 0;
  right: 0;
  transition: $theme-transition;
}

.toggle-slider--dark {
  right: 30px;
}

//// Media

.media-list {
  @extend %list;
  z-index: 10;
  margin: 12rem auto 0 auto;
  text-align: center;
  @include desktop {
    @extend %desktop-list;
  }
}

.media {
  @extend %card;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: $card-row;
  overflow: hidden;
  color: var(--clr-text);
  background-color: var(--clr-card-background);
  transition: $theme-transition;
  @include desktop {
    width: 100%;
  }
}

.media__facebook-top {
  @extend %card-top;
  background: hsl(208, 92%, 53%);
}

.media__twitter-top {
  @extend %card-top;
  background: hsl(203, 89%, 53%);
}

.media__instagram-top {
  @extend %card-top;
  background: linear-gradient(to left, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.media__youtube-top {
  @extend %card-top;
  background: hsl(348, 97%, 39%);
}

.media__name {
  @extend %icon-with-text;
  color: $secondary-text-color;
  font-weight: 700;
}

.media__count {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-weight: 700;
}

.media__type {
  letter-spacing: 5px;
  color: $secondary-text-color;
  font-size: 1rem;
}

.media__today {
  @extend %icon-with-text;
  font-weight: 700;
}

.media__today--up {
  color: $numbers-up;
}

.media__today--down {
  color: $numbers-down;
}

//// Overview

.overview-list {
  margin: 40px auto 30px auto;
  @extend %list;
  @include desktop {
    @extend %desktop-list;
    grid-template-rows: minmax(50px, auto);
  }
}

.overview-list__title {
  color: $secondary-text-color;
  font-size: $title-size;
  font-weight: 700;
  color: var(--clr-text);
  transition: $theme-transition;
  @include desktop {
    grid-column: 1 / span 4;
    justify-self: baseline;
    align-self: flex-end;
  }
}

.overview {
  @extend %card;
  display: grid;
  grid-template-columns: auto 10%;
  row-gap: $card-row;
  color: var(--clr-text);
  background-color: var(--clr-card-background);
  transition: $theme-transition;
}

.overview__name {
  font-weight: 700;
  color: $secondary-text-color;
}

.overview__count {
  font-size: 2rem;
  font-weight: 700;
}

.overview__icon {
  justify-self: end;
}

.overview__percentage {
  @extend %icon-with-text;
  font-weight: 700;
  font-size: 0.8rem;
  justify-self: end;
}

.overview__percentage--up {
  color: $numbers-up;
}

.overview__percentage--down {
  color: $numbers-down;
}

//// Custom Scrollbar

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(228, 12%, 44%);
}
